{{#each blogs as |blog|}}
<div>
  <div>
    <h2>
      <a href="/blog/{{blog.title}}">{{blog.title}}</a>
    </h2>
    <p>Created by: {{blog.user.name}} on {{format_date blog.date_created}}</p>
    <p>{{blog.description}}</p>
  </div>
</div>
{{/each}}